*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.layout{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.herosection{
    flex: 1 1 600px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebox{
    flex: 1 1 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herowrapper{
    width: 40%;
    min-height: 30%;
    background-color: azure;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.side-wrapper{
    width: 90%;
    min-height: 50%;
    background-color: azure;
    border-radius: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-form input[type="radio"]{
    display: none;
}

.tabs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 15px;
}

.tabs label{
    cursor: pointer;
    font-weight: bold;
    padding: 8px 16px;
}

.tab-content{
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

#tab-login:checked ~ .login{
    display: flex;
}

#tab-signup:checked ~ .signup{
    display: flex;
}

input, label{
    display: block;
}

.submit-button{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.submit-button button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: blueviolet;
    color: antiquewhite;
    font-size: 16px;
    cursor: pointer;
}

.forgotpass{
    background: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
    text-align: left;
}
