*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.layout{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.herosection{
    flex: 2 1 70%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebox{
    flex: 1 1 30%;
    min-height: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herowrapper{
    width: 40%;
    min-height: 30%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1{
    text-align: center;
}

.image{
    width: 60%;
    display: flex;
    justify-content: center;
    
}

.image img{
    width: 100%;
    object-fit: cover;
    padding: 10%;
}
.side-wrapper{
    width: 90%;
    min-height: 50%;
    background-color: azure;
    border-radius: 2vw;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-form input[type="radio"]{
    display: none;
}

.tabs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 5%;
}

.tabs label{
    cursor: pointer;
    font-weight: bold;
    padding: 2% 3%;
}

.tab-content{
    display: none;
    width: 100%;
    flex-direction: column;
}

.tab-content label{
    padding: 5% 0;
}

#tab-login:checked ~ .login{
    display: flex;
}

#tab-signup:checked ~ .signup{
    display: flex;
}

input, label{
    display: block;
}

.submit-button{
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.submit-button button{
    width: 100%;
    padding: 5%;
    border: none;
    border-radius: 0.7vw;
    background-color: blueviolet;
    color: antiquewhite;
    font-size: 1em;
    cursor: pointer;
}

.forgotpass{
    background: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
    text-align: left;
}
